/*--------------------------------------------------*/
/* Big tablets to 1200px (widths smaller that the 1140px row)*/
/*-------------------------------------------------*/




@media only screen and (max-width: 1200px) {
	.hero-text {
        width: 95%;
        padding: 0 2%;
    }
    .logo {
    	margin-left: -10px;
    }
    .row {padding: 0 3%;}
    
    
}

/*--------------------------------------------------*/
/* Small tablets to big tablets: from 768px to 1023px; */
/*-------------------------------------------------*/
@media only screen and (max-width: 1023px) {
	body {font-size: 18px;}
	.hero-text {
		border: 0px solid black;
		width: 120%;
		margin-top: 160px;
	}
	.top-container {

	}
	.hero-text h2 {
        font-size: 40px;
	}
	.hero-text h3 {
        font-size: 15px;
	}
	.hero-text p {
        font-size: 0.8em;
	}
    .row {padding: 0 3%;}
    
    .imagem {
    	margin-top: 100px;
    	width: 40%;
    }
}

/*--------------------------------------------------*/
/* Small phones to small tablets: from 481 to 767px; */
/*-------------------------------------------------*/
@media only screen and (max-width: 767px) {
	body{
		grid-template-rows: repeat(4, auto)
		grid-template-areas:
		"hero"
		"menu"
	    "image";
	}
	body{font-size: 16px;}
	section {padding:30px 0px;}
	.row {
		width: 100%;
		padding: 0% 0%;
	}
	 .hero-text {
	 	margin: 20px auto;
	 	width: 90%;
	 	padding: 0;
	 }
	 .hero-text h2 {
	 	font-size: 30px;
	 }

	 .logo{
	 	width: 70%;
	 }
	.center{
		display: block;
	 }
     header{
     	padding-top: 90px;
     	text-align: center;
     }
    .imagem {
    	display: none;
    }
    .main-nav {
    	display: none;
    	border: 0px solid black;
    	padding: 0;
    	margin: 0;
    	float: none;
    }
    .main-nav li {
    	display: block;
    	margin-left: 0;
    }
    .main-nav li a:link,
    .main-nav li a:visited {
    	display: block;
    	border: 0;
    	padding: 10px 0;
        font-size: 100%;
    }
    .middle-container {
   
   
	
    }
    
    .middle-container ul p{

    font-size: 13.9px;
}
    .middle-container ul{
    margin-left: 20px;
	display: block;
	width: 100%;
	list-style: none;
}
.middle-container img{
	width: 25%;

	float: left;
	margin-right: 20px;
}

.bottom-container img {
	display: none;
}
.bottom-container ul{
	text-align: justify;
	float: left;
	border: 0px solid black;
	margin-top: 30px;
	margin-left: 80px;
	width: 80%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.bottom-container li{
	font-size: 17px;
    margin-bottom: 20PX;
}
.bottom-container h3{
	font-size: 20px;
}
.portifolio {
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
}
.portifolio p{
	text-align: center;
	margin: 0 auto;
	width: 80.3%;
}
.portifolio .galery h4 {
	margin-bottom: 5px;
	font-size: 13px;
    
}
.galery figure img {
	border: 2px solid white;
    
}

.galery{
	grid-template-columns: repeat(2, auto);
}
}



