.row {
    max-width: 1140px;
    margin: 0 auto;
    border: 0px solid black;

}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}



body,html {
	color: white;
	max-width: 100%;
	overflow-x: hidden;
	font-family: 'Baloo 2', cursive;
}
section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;

}

.logo {
	margin-top: 30px;
	margin-left: -30px;
	width: 10%;
	height: 10%;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #d8606e;
}
.hero-text {
	width: 42%;
	border: 0px solid black;

}


.hero-text p {
	font-size: 1em;
	opacity: 0.7;
}
.hero-text button {
	background-color: #d8606e;
	color: white;
	margin-top: 20px;
	padding: 10px;
	border-radius: 5%;
	border: 0px solid black;
}
h2 {
	font-size: 48px;
	margin-bottom: 10px;
	
}
h3 {
	margin-bottom: 10px;
	font-size: 20px;
}
.center {
	display: flex;
	align-items: center;
}
.imagem {
	margin-left: 100px;
	float: right;
	width: 50%;
	
}
header{
	background: url(..images/3527266.jpg);
	background-position: center;
	width: 100%;
	height: 100vh;
}
.top-container {
	background-color: #95afc0;
}
.middle-container {
	text-align: justify;
	padding: 0px 0px 80px 0px;
	background-color: #2f3640;
	color: #d8606e;
	width: 100%;
}
.middle-container ul{
	display: grid;
	grid-template-columns: repeat(2, auto); 
	border: 0px solid black;
	width: 100%;
	list-style: none;
}
.middle-container img{
	width: 22%;

	float: left;
	margin-right: 40px;
}


.middle-container li p {
		margin-top: -20px;
	opacity: 0.7;
}
.middle-container li{
	width: 90%;
	border: -px solid black;
	color: WHITE;
	margin-top: 80px;
}
.middle-container li h1{
	font-size: 22px;
}
.imagem-paper {
	width: 5%;
}

.bottom-container{

	text-align: center;
	padding-top: 60px;
	color: black;
	background-color:#95afc0;
	width: 100%;
}
.bottom-container h3{
	font-size: 30px;
}
.bottom-container ul{
	text-align: justify;
	float: right;
	border: 0px solid black;
	margin-top: 100px;
	margin-right: 110px;
	width: 50%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.bottom-container li{
	font-size: 20px;
    margin-bottom: 20PX;
}

.bottom-container img{
    margin-left: -30px;
	width: 30%;
}

.bottom-container i {
	color: green;
}

.portifolio {
	padding-bottom: 6em;
	padding-top: 3em;
    color: #000000;
    background: whitesmoke;
}
.portifolio p{
	text-align: justify;
	opacity: 0.9;
	width: 40.3%;
}


.portifolio .galery h4 {
	margin-bottom: 5px;
	font-size: 16px;
    
}
.galery{
	padding-top: 3em;
	display: grid;
	grid-gap: .4em;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.galery figure {

	width: calc(73% + 70px);
	object-fit: cover;
	margin: 2px;
	overflow: hidden;
	position: relative;
	background-color: #2f3640;
	transition: background-color .5s;
}
.galery figure:hover {
	background-color: black;
	opacity: 1;
}

.galery figure:first-child {
	margin-left: 0;
}


.galery figure img:hover{
	transform: translate3d(0,0,0) scale(1);
	opacity: .9;
}

.galery img {

	width: 100%;
	height: 100%;
	object-position: top;
	object-fit: cover;
	opacity: 0.3;
	transform: translate3d( 0, -20px, 0) scale(1.12);
	transition: all .5s;
}
.galery figcaption{
    
	color: white;
	align-items: center;
	position: absolute;
	top: 0em;
	
}
.galery figcaption h4{
	width:100%;
	color: white;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: bold;
	background:  #d8606e;
	padding: .5em .7em;
}
 
footer{
	width: 100%;
	overflow: hidden;
	color: white;
	background:  #2f3640;
	padding-top: 4em;
	padding-bottom: 4em;
}
.logo-footer{
	color: #d8606e;
	font-size: 15px;
	text-align: center;
	border: 0px solid black;
	width: 15%;
	display: inline-block;
	float: left;
}
.logo-footer .logo{

	margin: 0;
	width: 70%;
}

.footer-box i {
	font-size: 13px;
	margin-right: 25px;
}
.footer-box .info i {
	margin-right: 5px;
}
.footer-box {
	text-align: left;
	float: right;
	width: 78%;
	border: 0px solid black;
}
.grid-box {
	color: rgba(255,255,255,0.7);
	
	width: 70%;
	display: grid;
	grid-template-columns: repeat(3, auto);
	border: 0px solid black;
	float: right;
}
.grid-box h1 {
	margin-bottom: 20px;
	font-size: 18px;
}
.grid-box ul {
	list-style: none;
}
.grid-box li {
	font-size: 13px;
	margin-bottom: 10px;
}
.js--main-nav, .js--main-nav-logo, .js--hero, .js--header-imagens, .js--middle {
	opacity: 0;
}
.js--main-nav.animated, .js--main-nav-logo.animated, .js--hero.animated, .js--header-imagens.animated, .js--middle.animated{
	opacity: 1;
}
/*--------------------------------------------------*/
/* Big tablets to 1200px (widths smaller that the 1140px row)*/
/*-------------------------------------------------*/




@media only screen and (max-width: 1200px) {
	.hero-text {
        width: 95%;
        padding: 0 2%;
    }
    .logo {
    	margin-left: -10px;
    }
    .row {padding: 0 3%;}
    
    
}

/*--------------------------------------------------*/
/* Small tablets to big tablets: from 768px to 1023px; */
/*-------------------------------------------------*/
@media only screen and (max-width: 1023px) {
	body {font-size: 18px;}
	.hero-text {
		border: 0px solid black;
		width: 120%;
		margin-top: 160px;
	}
	.top-container {

	}
	.hero-text h2 {
        font-size: 40px;
	}
	.hero-text h3 {
        font-size: 15px;
	}
	.hero-text p {
        font-size: 0.8em;
	}
    .row {padding: 0 3%;}
    
    .imagem {
    	margin-top: 100px;
    	width: 40%;
    }
    .galery{
	grid-template-columns: repeat(2, auto);
}
  
}

/*--------------------------------------------------*/
/* Small phones to small tablets: from 481 to 767px; */
/*-------------------------------------------------*/
@media only screen and (max-width: 767px) {
	
	body{font-size: 16px;}
	section {padding:30px 0px;}
	.row {
		width: 100%;
		padding: 0% 0%;
	}
	 .hero-text {
	 	margin: 20px auto;
	 	width: 90%;
	 	padding: 0;
	 }
	 .hero-text h2 {
	 	font-size: 30px;
	 }

	 .logo{
	 	width: 70%;
	 }
	.center{
		display: block;
	 }
     header{
     	padding-top: 90px;
     	text-align: center;
     }
    .imagem {
    	display: none;
    }
    .main-nav {
    	display: none;
    	border: 0px solid black;
    	padding: 0;
    	margin: 0;
    	float: none;
    }
    .main-nav li {
    	display: block;
    	margin-left: 0;
    }
    .main-nav li a:link,
    .main-nav li a:visited {
    	display: block;
    	border: 0;
    	padding: 10px 0;
        font-size: 100%;
    }
    
    
    .middle-container ul p{
    letter-spacing: 1px;
    font-size: 13.3px;

 }
.middle-container ul{
    margin-left: 25px;
	display: block;
	width: 99%;
	list-style: none;
}
.middle-container li:first-child{
    margin-top: 4em;
}

.middle-container img{
	width: 25%;
    
	float: left;
	margin-right: 20px;
}
.bottom-container{

	padding-top: 2em;
	padding-bottom:  2em;
	
}

.bottom-container img {
	display: none;
}
.bottom-container ul{
	text-align: justify;
	float: left;
	border: 0px solid black;
	margin-top: 20px;
	margin-left: 70px;
	width: 80%;
    
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.bottom-container li{
	font-size: 17px;
    margin-bottom: 20PX;
}
.bottom-container h3{
	font-size: 20px;
}
.portifolio {
	padding-left: 1em;
	padding-right: 1em;
	text-align: center;
}
.portifolio p{
	text-align: center;
	margin: 0 auto;
	width: 80.3%;
}
.portifolio .galery h4 {
	margin-bottom: 5px;
	font-size: 13px;
    
}
.galery  {
	width: 80%;
	border: 0px solid black;
	margin: 0 auto;

}

.galery figure{
	width: 100%;
	
}
footer{
	text-align: center;
}
.logo-footer{
	margin: 0 auto;
	width: 60%;
	display: block;
	float: none;
}
.grid-box {
	border: 0px solid black;
	margin-left: -50px;
	width: 100%;
	grid-template-columns: repeat(1, auto);
	float: none;

}
}

/*--------------------------------------------------*/
/* Small phones: from 0 to 480px */
/*-------------------------------------------------*/
@media only screen and (max-width: 480px) {
	.galery{
	grid-template-columns: repeat(1, auto);
}

}

